<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/cloudy.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
            {{>header}}
            <p>This site was created by Roy Schiff. It uses data from Mapbox api and Weatherstacks api</p>
            <img class="portrait" src="/img/cake.png">
    </div>
    {{>footer}}
</body>

</html>